In [27]:
import os
import pandas as pd

# Caminho para a pasta principal onde as subpastas estão localizadas
main_folder = 'data'

# Lista para armazenar os dataframes
dataframes = []

# Percorre todas as subpastas na pasta principal
for subfolder in os.listdir(main_folder):
    subfolder_path = os.path.join(main_folder, subfolder)
    if os.path.isdir(subfolder_path):
        # Percorre todos os arquivos na subpasta
        for file in os.listdir(subfolder_path):
            file_path = os.path.join(subfolder_path, file)
            if os.path.isfile(file_path) and file.endswith('.csv'):
                # Lê o arquivo CSV e adiciona à lista de dataframes
                df = pd.read_csv(file_path, sep=';')  # Ajuste o separador se necessário
                dataframes.append(df)

# Concatena todos os dataframes em um único dataframe
merged_df = pd.concat(dataframes, ignore_index=True)

# Salva o dataframe resultante em um arquivo CSV
merged_df.to_csv('merged_data.csv', index=False, sep=';')  # Especifique o separador para salvar

print("Merge concluído com sucesso. O arquivo foi salvo como 'merged_data.csv'.")

Merge concluído com sucesso. O arquivo foi salvo como 'merged_data.csv'.

In [28]:
df = pd.read_csv('merged_data.csv', sep=';')

C:\Users\gjque\AppData\Local\Temp\ipykernel_31420\2541939121.py:1: DtypeWarning: Columns (4,5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('merged_data.csv', sep=';')

In [29]:
df

,municipio,codEstacao,uf,nomeEstacao,latitude,longitude,datahora,valorMedida
0,RECIFE,261160603A,PE,Estação Experimental UFRPE,"-8,018378","-34,947058",01/01/2014 00:10:32,"0,0"
1,RECIFE,261160603A,PE,Estação Experimental UFRPE,"-8,018378","-34,947058",01/01/2014 01:10:24,"0,0"
2,RECIFE,261160603A,PE,Estação Experimental UFRPE,"-8,018378","-34,947058",01/01/2014 02:10:25,"0,0"
3,RECIFE,261160603A,PE,Estação Experimental UFRPE,"-8,018378","-34,947058",01/01/2014 03:10:25,"0,0"
4,RECIFE,261160603A,PE,Estação Experimental UFRPE,"-8,018378","-34,947058",01/01/2014 04:10:25,"0,0"
...,...,...,...,...,...,...,...,...
2086192,RECIFE,261160623A,PE,RECIFE - APAC,"-8,04491","-34,87518",2023-12-31 19:00:00.0,"0,00"
2086193,RECIFE,261160623A,PE,RECIFE - APAC,"-8,04491","-34,87518",2023-12-31 20:00:00.0,"0,00"
2086194,RECIFE,261160623A,PE,RECIFE - APAC,"-8,04491","-34,87518",2023-12-31 21:00:00.0,"0,00"
2086195,RECIFE,261160623A,PE,RECIFE - APAC,"-8,04491","-34,87518",2023-12-31 22:00:00.0,"0,00"
2086196,RECIFE,261160623A,PE,RECIFE - APAC,"-8,04491","-34,87518",2023-12-31 23:00:00.0,"0,00"

In [30]:
df['nomeEstacao'].unique()

array(['Estação Experimental UFRPE', 'UPA de Nova Descoberta',
       'Dois Unidos', 'UPA da Imbiribeira', 'USF Alto Bela Vista-Ibura',
       'Alto do Cé‚u', 'Corrego Jenipapo', 'Alto Mandu',
       'Alto do Cé\x82u', 'San Martin', 'Guabiraba', 'Morro da Conceição',
       'Campina do Barreto', 'Ibura', 'Várzea', 'Pina', 'Torreão',
       'Varzea', 'Porto', 'Areias', 'Boa Vista', 'Alto do Céu',
       'RECIFE - APAC', 'Dois Irmãos', 'Alto Bela Vista',
       'Nova Descoberta', 'Imbiribeira', 'Brega e Chique', 'Barreira',
       'UR3 - Ibura', 'Lagoa Encantada - COHAB', 'UR2 - COHAB', 'Manassu',
       'UR12 - COHAB', 'UR12 - COHAB II', 'REC5',
       'COMPESA - Alto da Esperança', 'COMPESA - Alto da Brasileira',
       'COMPAZ - Alto Sta. Terezinha'], dtype=object)

In [31]:
import pandas as pd
from dateutil import parser

# Função para corrigir valores na coluna nomeEstacao
def corrigir_nome_estacao(df):
    df['nomeEstacao'] = df['nomeEstacao'].replace(['Alto do Cé‚u', 'Alto do Cé\x82u'], 'Alto do Céu')
    return df

# Função para converter coluna datahora para datetime
def converter_para_datetime(df):
    def parse_date(date_str):
        try:
            return parser.parse(date_str)
        except:
            return pd.NaT  # Retorna NaT se houver erro na conversão
    
    df['datahora'] = df['datahora'].apply(parse_date)
    return df

# Carrega o arquivo CSV corrigido com os parâmetros corretos
df = pd.read_csv('merged_data.csv', sep=';')

# Aplica as funções de correção
df = corrigir_nome_estacao(df)
df = converter_para_datetime(df)

C:\Users\gjque\AppData\Local\Temp\ipykernel_31420\4234567501.py:21: DtypeWarning: Columns (4,5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('merged_data.csv', sep=';')

In [32]:
df['nomeEstacao'].unique()

array(['Estação Experimental UFRPE', 'UPA de Nova Descoberta',
       'Dois Unidos', 'UPA da Imbiribeira', 'USF Alto Bela Vista-Ibura',
       'Alto do Céu', 'Corrego Jenipapo', 'Alto Mandu', 'San Martin',
       'Guabiraba', 'Morro da Conceição', 'Campina do Barreto', 'Ibura',
       'Várzea', 'Pina', 'Torreão', 'Varzea', 'Porto', 'Areias',
       'Boa Vista', 'RECIFE - APAC', 'Dois Irmãos', 'Alto Bela Vista',
       'Nova Descoberta', 'Imbiribeira', 'Brega e Chique', 'Barreira',
       'UR3 - Ibura', 'Lagoa Encantada - COHAB', 'UR2 - COHAB', 'Manassu',
       'UR12 - COHAB', 'UR12 - COHAB II', 'REC5',
       'COMPESA - Alto da Esperança', 'COMPESA - Alto da Brasileira',
       'COMPAZ - Alto Sta. Terezinha'], dtype=object)

In [33]:
df.head()

,municipio,codEstacao,uf,nomeEstacao,latitude,longitude,datahora,valorMedida
0,RECIFE,261160603A,PE,Estação Experimental UFRPE,"-8,018378","-34,947058",2014-01-01 00:10:32,"0,0"
1,RECIFE,261160603A,PE,Estação Experimental UFRPE,"-8,018378","-34,947058",2014-01-01 01:10:24,"0,0"
2,RECIFE,261160603A,PE,Estação Experimental UFRPE,"-8,018378","-34,947058",2014-01-01 02:10:25,"0,0"
3,RECIFE,261160603A,PE,Estação Experimental UFRPE,"-8,018378","-34,947058",2014-01-01 03:10:25,"0,0"
4,RECIFE,261160603A,PE,Estação Experimental UFRPE,"-8,018378","-34,947058",2014-01-01 04:10:25,"0,0"

In [34]:
# Função para converter vírgula para ponto nas colunas numéricas
def converter_virgula_para_ponto(df):
    # Lista de colunas que podem conter números com vírgula
    colunas_numericas = ['latitude', 'longitude', 'valorMedida']  # Substitua com os nomes das suas colunas
    
    for coluna in colunas_numericas:
        if df[coluna].dtype == 'object':  # Verifica se a coluna é do tipo objeto (string)
            df[coluna] = df[coluna].str.replace(',', '.')  # Substitui vírgulas por pontos
            
        elif df[coluna].dtype == 'float64':  # Se já for do tipo float64, não precisa converter
            pass
    
    return df

df = converter_virgula_para_ponto(df)
df

,municipio,codEstacao,uf,nomeEstacao,latitude,longitude,datahora,valorMedida
0,RECIFE,261160603A,PE,Estação Experimental UFRPE,-8.018378,-34.947058,2014-01-01 00:10:32,0.0
1,RECIFE,261160603A,PE,Estação Experimental UFRPE,-8.018378,-34.947058,2014-01-01 01:10:24,0.0
2,RECIFE,261160603A,PE,Estação Experimental UFRPE,-8.018378,-34.947058,2014-01-01 02:10:25,0.0
3,RECIFE,261160603A,PE,Estação Experimental UFRPE,-8.018378,-34.947058,2014-01-01 03:10:25,0.0
4,RECIFE,261160603A,PE,Estação Experimental UFRPE,-8.018378,-34.947058,2014-01-01 04:10:25,0.0
...,...,...,...,...,...,...,...,...
2086192,RECIFE,261160623A,PE,RECIFE - APAC,-8.04491,-34.87518,2023-12-31 19:00:00,0.00
2086193,RECIFE,261160623A,PE,RECIFE - APAC,-8.04491,-34.87518,2023-12-31 20:00:00,0.00
2086194,RECIFE,261160623A,PE,RECIFE - APAC,-8.04491,-34.87518,2023-12-31 21:00:00,0.00
2086195,RECIFE,261160623A,PE,RECIFE - APAC,-8.04491,-34.87518,2023-12-31 22:00:00,0.00
2086196,RECIFE,261160623A,PE,RECIFE - APAC,-8.04491,-34.87518,2023-12-31 23:00:00,0.00

In [35]:
df.dropna(inplace=True)

In [36]:
df.to_csv('merged_data_corrigido.csv', index=False, sep=';', encoding='utf-8')

In [37]:
df['longitude'].isna().sum()

0